@media screen and (max-width: 480px) {
    .pose-detection {
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center ;
    }
    .pose-img{
        display: none;
    }
  }